body .modal{
	position: fixed;
	text-align: center;
	width: 20%;
	height: 20%;
	border: 1px solid #ccc;
	background: #00897B;
	padding: 20px;
	vertical-align: middle;
	display: block;
	color: #000000;
	margin-top: 20%;
	margin-left: 40%;
}

button{
	color: #000000;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
/*
.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 0px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.main {
    margin-left: 280px;
    padding: 16px;
}

li {
  list-style-type:none;
}
*/

.container-main {
  padding-left: 0px;
  padding-right: 0px;
}

#menu-content > li > a {
  display:block;
}

#admin> li > a {
  display:block;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  /*background-color: #2e353d;*/
  /*background-color: #9B26AF; */
  background-color: #5C6BC0;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  color: #e1ffff;  
  padding-left: 10px;
}
.nav-side-menu .brand {
  /*background-color: #23282e;*/
  /*background-color: #7A1EA1; */
  background-color: #3F51B5;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 18px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  font-size: 18px;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  /*background-color: #4f5b69;*/
  /*background-color: #7A1EA1;*/
  background-color: #303F9F;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  /*color: #d19b3d;*/
  background-color: #303F9F;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  /*color: #d19b3d;*/
  background-color: #303F9F;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  /*background-color: #181c20;*/
  /*background-color: #9B26AF;*/
  background-color: #5C6BC0;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  /*background-color: #020203;*/
  /*background-color: #7A1EA1;*/
  background-color: #303F9F;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  /*content: "\f105";*/
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 10px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  /*background-color: #4f5b69;*/
  /*background-color: #7A1EA1;*/
  background-color: #303F9F;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.navigation-link {
  padding-bottom: 15px;
}

th.sort-column {
  background-color: #3F51B5;
  color: #ede7f6;
  font-size: 16px;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #3F51B5;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
  }
  .brand {    
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }  
  .main {
    margin-left: 10px;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .main {
    margin-left:250px;
    margin-top: 100px;
  }
  .nav-side-menu {
    padding-top: 80px;
  }
  .nav-side-menu .brand {
    display: none;
  }
}
body {
  margin: 0px;
  padding: 0px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}

