
.confirm {
	text-align: center;
}
.join {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 20px;
}
#map-outer {
	margin-bottom: 30px;
}


@media (max-width: 767px) {
	.title img {
		width: 100%;
	}

}